langchain==0.3.7
langchain-core>=0.3.17,<0.3.70
langchain-community==0.3.7
langchain-groq==0.2.0
langchain-huggingface>=0.1.0,<0.3.0
langchain-astradb==0.5.0
datasets==3.0.1
pypdf==5.1.0
python-dotenv==1.0.1
pandas==2.2.3
flask==3.0.3
prometheus_client==0.21.0
